doctype html
html(lang="en")
    head
        title Recepten database
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower_components/angular-chosen-localytics/chosen-spinner.css')
        link(rel='stylesheet', href='/bower_components/chosen/public/chosen.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        block navbar

        div(class='container')
            block content
        
        block javascript
            script(src='/bower_components/requirejs/requirejs.js' data-main='app.angular.js')
            
