extends logged_in_base

block content
    masonry(column-width="250" item-selector=".recipe")
        div.recipe(ng-repeat="recipe in recipes")
            h1.recipe-title recipe.name

block javascript
    script(src='app.angular.js')
