extends base

block navbar
    div(class='navbar navbar-default navbar-fixed-top' role='navigation')
        div(class='container')
            div(class='navbar-header')
                a(href='#' class='navbar-brand') Recepten database
            div(class='navbar-collapse collapse')
                ul(class='nav navbar-nav navbar-right')
                    li
                        a(href='/logout') Log out
