extends base

block content
    div(class="jumbotron signin")
        h1 Recepten database
        p(class="lead") Please sign in using your Google account
        a(class='btn btn-primary btn-lg' href='/auth/google') Sign in
