body {
    padding-top: 70px;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.signin {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
}

.recipe-title {
    font-size: 115%;
    text-align: center;
    margin-top: 2px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #777;
}

masonry {
    width: 100%;
}

.recipe {
    width: 240px;
    border: 1px solid #999999;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
}
